<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>


<mat-horizontal-stepper>
  <mat-step>
    First Step
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>First Step First Textbox</mat-label>
        <input
          matInput
          placeholder="kus@tilde.team"
          type="email"
          [formControl]="email11"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>First Step Second Textbox</mat-label>
        <input
          matInput
          placeholder="kus@tilde.team"
          type="email"
          [formControl]="email12"
        />
      </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>First Step Third Textbox</mat-label>
          <input
            matInput
            placeholder="kus@tilde.team"
            type="email"
            [formControl]="email13"
          />
        </mat-form-field>
      </div>
  </mat-step>
  <mat-step>
    Second Step
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Second Step First Textbox</mat-label>
        <input
          matInput
          placeholder="kus@tilde.team"
          type="email"
          [formControl]="email21"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Second Step Second Textbox</mat-label>
        <input
          matInput
          placeholder="kus@tilde.team"
          type="email"
          [formControl]="email22"
        />
      </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Second Step Third Textbox</mat-label>
          <input
            matInput
            placeholder="kus@tilde.team"
            type="email"
            [formControl]="email23"
          />
        </mat-form-field>
      </div>
  </mat-step>
  <mat-step>
    Third Step
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Third Step First Textbox</mat-label>
        <input
          matInput
          placeholder="kus@tilde.team"
          type="email"
          [formControl]="email31"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Third Step Second Textbox</mat-label>
        <input
          matInput
          placeholder="kus@tilde.team"
          type="email"
          [formControl]="email32"
        />
      </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Third Step Third Textbox</mat-label>
          <input
            matInput
            placeholder="kus@tilde.team"
            type="email"
            [formControl]="email33"
          />
        </mat-form-field>
      </div>
  </mat-step>
</mat-horizontal-stepper>
