<mat-form-field class="example-full-width">
  <mat-label>Email</mat-label>
  <input
    matInput
    placeholder="kus@tilde.team"
    type="email"
    [formControl]="email"
  />
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Full Name</mat-label>
  <input
    matInput
    placeholder="Peter Parker"
    type="text"
    [formControl]="fullName"
  />
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Account</mat-label>
  <input matInput placeholder="Facebook" type="text" [formControl]="account" />
</mat-form-field>
<div>
  <button mat-flat-button (click)="login()">Enter</button>
</div>
<p *ngIf="!checkEmpty()">
  Welcome, {{ email.value }} from {{ account.value }}!
</p>

<ol>
  <li>
    <mat-form-field>
      <mat-label>What's your name?</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>
